---
page_title: "test_codebuild_start_build Resource - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_codebuild_start_build

{{ .Description }}

## Example Usage

{{tffile "examples/resources/codebuild_start_build/main.tf"}}

{{ .SchemaMarkdown }}
