---
page_title: "test_sfn_start_sync_execution Resource - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_sfn_start_sync_execution

{{ .Description }}

## Example Usage

{{tffile "examples/resources/sfn_start_sync_execution/main.tf"}}

{{ .SchemaMarkdown }}
