---
page_title: "test_ssm_send_files Resource - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_ssm_send_files

{{ .Description }}

## Example Usage

{{tffile "examples/resources/ssm_send_files/main.tf"}}

{{ .SchemaMarkdown }}
