---
page_title: "test_ssm_send_command Resource - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_ssm_send_command

{{ .Description }}

## Example Usage

{{tffile "examples/resources/ssm_send_command/main.tf"}}

{{ .SchemaMarkdown }}
