---
page_title: "test_cloudwatch_metrics Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_cloudwatch_metrics

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/cloudwatch_metrics/main.tf"}}

{{ .SchemaMarkdown }}
