---
page_title: "test_cloudwatch_alarms Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_cloudwatch_alarms

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/cloudwatch_alarms/main.tf"}}

{{ .SchemaMarkdown }}
