---
page_title: "test_dynamodb_scan Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_dynamodb_scan

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/dynamodb_scan/main.tf"}}

{{ .SchemaMarkdown }}
