---
page_title: "test_ssm_activation Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_ssm_activation

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/ssm_activation/main.tf"}}

{{ .SchemaMarkdown }}
