---
page_title: "test_ssm_activations Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_ssm_activations

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/ssm_activations/main.tf"}}

{{ .SchemaMarkdown }}
