---
page_title: "test_timestamp Data Source - terraform-provider-test"
subcategory: ""
description: |-
{{ .Description }}
---

# test_timestamp

{{ .Description }}

## Example Usage

{{tffile "examples/data-sources/timestamp/main.tf"}}

{{ .SchemaMarkdown }}
